<section class="user d-flex justify-content-center">
    <div class="user-wrapper">
        <div class="user-image m-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png" alt="">
        </div>
        <div class="user-name">
          <h4 class="my-4" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">debunath nadu <i class="fas fa-chevron-down"></i></h4>
        </div>
        <div class="user-nav d-flex flex-column justify-content-between">
          <div  class="collapse" id="collapseExample">
            <ul>
              <li><i class="fas fa-home"></i> <a href="">home</a></li>
              <li><i class="fas fa-comment-dots"></i> <a href="">chat</a></li>
              <li><i class="far fa-user"></i> <a href="">contact</a></li>
              <li><i class="fas fa-cog"></i><a href="">settings</a></li>
              <li><i class="far fa-bell"></i><a href="">notification</a></li>
            </ul>
          </div>
            <ul class="user-nav_logout">
              <li><i class="fas fa-sign-out-alt"></i><a href="">log out</a></li>
            </ul>
        </div>
    </div>
  </section>
  