<div class="chat">
    <div class="chat-header d-flex justify-content-between align-items-center mb-5">
        <div class="chat-header_user d-flex align-items-center">
            <div class="chat-header_user-img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png" alt="">
            </div>
            <div class="chat-header_user-name px-3">
                <h3 class="m-0">Suzy</h3>
                <p>last seen 2 hr ago</p>
            </div>
        </div>
        <div class="chat-header_settings">
            <i class="fas fa-search"></i>
            <i class="fas fa-ellipsis-v px-4"></i>
        </div>
    </div>
    <!-- chat text -->
    <ul class="px-4">
        <li class=" sender">
            <div class="sender-row d-flex align-items-strat" >
                <div class="sender-img ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png" alt="">
                </div>
                
                <div class="sender-text mx-3">
                    <p class="m-0 mb-2  p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sunt modi facere explicabo magnam fuga dolore corporis suscipit odit optio !</p>
                    <p class="m-0 mb-2  p-3">Lorem ipsum dolor sit</p>
                </div>
                
            </div>
        </li>

        <li class=" receiver">
            <div class=" d-flex align-items-strat" >
                <div class="receiver-img ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png" alt="">
                </div>
                
                <div class="receiver-text  mx-3">
                    <p class="m-0 mb-2  p-3">Lorem ipsum dolor sit</p>
                    <p class="m-0 mb-2  p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sunt modi facere explicabo magnam fuga dolore corporis suscipit odit optio !</p>
                </div>
                
            </div>
        </li>
    </ul>
    <!--send input -->
    <form action="" class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary"><i class="fas fa-paperclip"></i></button>
        <input type="text" class="form-control col-8" placeholder="Type a message" aria-label="Username" aria-describedby="basic-addon1">
        <button type="button" class="emoji p-0"><i class="far fa-smile"></i></button>
        <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"></i></button>
    </form>
</div>
