<div class="contacts py-4">
    <!-- start contacts header -->
    <div class="contacts-header d-flex justify-content-between mb-5 px-4">
        <h2>Chats</h2>
        <button type="button" class="btn btn-primary "><i class="fas fa-plus pr-3"></i>Create new chat</button>
    </div>
    <!-- start contacts search -->
    <form class="form-inline  mb-5 px-4">
        <input class="form-control search w-100" type="search" placeholder="Search" aria-label="Search">
    </form>
    <!-- start contacts list -->
    <ul class="contacts-list">
        <!--  -->
        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-strat">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
                <div class="contacts-list_notification-number">2</div>
            </div>
        </li>
        <!--  -->

        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-start">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
            </div>
        </li>
        <!--  -->

        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-strat">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
                <div class="contacts-list_notification-number">2</div>
            </div>
        </li>
        <!--  -->

        <li class="d-flex justify-content-between align-items-start py-3 px-4 current " >
            <div class="d-flex align-items-start">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
            </div>
        </li>
        <!--  -->
        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-strat">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
                <div class="contacts-list_notification-number">2</div>
            </div>
        </li>
        <!--  -->

        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-start">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
            </div>
        </li>
        <!--  -->

        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-strat">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
                <div class="contacts-list_notification-number">2</div>
            </div>
        </li>
        <!--  -->

        <li class="d-flex justify-content-between align-items-start py-3 px-4">
            <div class="d-flex align-items-start">
                <div class="contacts-list_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Vector_Face_wearing_Spectacles.png"
                        alt="">
                </div>
                <div class="contacts-list_name px-4">
                    <h3>veronica</h3>
                    <p class="m-0">let's go for a walk</p>
                </div>
            </div>
            <div class="contacts-list_notification d-flex flex-column align-items-center">
                <p>3 days ago</p>
            </div>
        </li>
        <!--  -->
    </ul>
</div>